# Environment variables
.env*

# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Pytest cache
.pytest_cache/
*.db
analysis_flaws_and_suggestions.txt
tempCodeRunnerFile.python
report.html
